section{
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: white;

}

.heading{
    
    width: 100%;
    height:60px;
    display: flex;
    border: 1px solid rgb(249, 246, 246);

}
.appname{
    
    
    padding: 2px 2px;
    color: #edcf0c;
    font-size: 30px;
    font-weight:1000;
    position: relative;
    width: 10vw;
    
    display: flex;
    letter-spacing: none;
    
    align-items: center;
    justify-content: center;
    border: 0.5px solid whitesmoke;
    

}
.appname:hover{
    background-color: #f8f5f5;
    cursor: pointer;
}
.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    width:20vw;
    
    border: 0px solid whitesmoke;
    font-size: 15px;
}
.delivery:hover{
    background-color: #f8f5f5;
    cursor: pointer;
}
.search{
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid whitesmoke ;
}
.searchbar:hover{
    cursor: text;
    
    
}
.searchbar{
    width: 45vw;
    height:45px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.login{
    width:12.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid whitesmoke ;
    font-size: 20px;
}
.login:hover{
    background-color: #f8f5f5;
    cursor: pointer;
}
.cart{
    width:12.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid whitesmoke ;
    
}
.cartitems{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    background-color: #219b21;
    border-radius: 8px;
    color: white;
}
.cartitems>img{
    
    filter:brightness(0) invert(1) ;
}
.cartitems:hover{
    cursor: pointer;
}
.cartitems>img:hover{
    cursor: pointer;
    animation: shake;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: 3;
    animation-fill-mode: both;
    
    animation-play-state: running;
}
@keyframes shake{
    0%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.bodycontainer{
    margin: 5px 60px 5px 60px;
    padding: 3px;
    display: grid;
    
}

.dailyproducts{
    width:96%;
    margin: 0px 10px 10px 10px;
    overflow: hidden;
    display: grid;
    grid-gap: 10px;
    
}
#morning{
    display: grid;
    
    grid-column-start: 1;
    grid-column-end: 1;
}

#pharmacy{
    display: grid;
    grid-gap: 20px;
    grid-column-start: 2;
    grid-column-end: 2;
}
#Pet{
    display: grid;
    
    grid-column-start: 3;
    grid-column-end: 3;
}
#babycare{
    display: grid;
    
    grid-column-start: 4;
    grid-column-end: 4;
}
.list1{

    width: 100%;
    height: auto;
    
    display: flex;
}

.list2{

    width: 100%;
    height: auto;
    
    display: flex;
}




.footer{
    margin: 5px 100px 5px 80px;
    padding: 5px;
    
    width: 90%;
    
    display: flex;
   
    
}
.box1{
    margin: 0px;
    width: 40%;
    height: 100%;
    
    display: grid;

    grid-column-start: 1;
    grid-column-end: 10;
}
#usehead{
    margin: 6px;
    font-size:18px;
    font-weight: 600;

}

.useful{
    margin: 0px 0px 0px 6px;
    
    overflow: hidden;
    text-decoration: none;
    width: 100%;
    
    
    display: grid;
    
}

.useful>.sec1{
    display: grid;
    row-gap: 5px;
    grid-row-start: 1;

    
    
}
.sec1>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;
    

}
.useful>.sec2{
    display: grid;
    row-gap: 5px;
    grid-row-start: 1;
    
    
}
.sec2>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;

}
.useful>.sec3{
    display: grid;
    row-gap: 5px;
   
    grid-row-start: 1;
    
}
.sec3>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;

}

.box2{
    width: 60%;
    height: 100%;
    
    
    display: grid;
    grid-column-start: 2;
}
#cat{
    margin: 6px;
    font-size:18px;
    font-weight: 600;
}
#cat>a{
    text-decoration: none;
    font-weight: 400;
}

.ediable{
    margin: 0px 0px 0px 6px;
    
    overflow: hidden;
    text-decoration: none;
    width: 100%;
    display: grid;
    
}

.ediable>.ed1{
    display: grid;
    row-gap: 5px;
    grid-row-start: 1;

    
    
}
.ed1>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;
    

}
.ediable>.ed2{
    display: grid;
    row-gap: 5px;
    grid-row-start: 1;
    
    
}
.ed2>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;

}
.ediable>.ed3{
    display: grid;
    row-gap: 1px;
    grid-row-start: 1;
    
}
.ed3>a{
    
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #918c8c;

}
.footerbanner{
    margin: 25px 65px 5px 65px;
    padding: 5px;
    
    width: 90%;
    height: 80px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #868080;
    background-color: #fefafa;

}
.ban1{
    width: 40%;
 
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;

}

.ban2{
    width: 40%;
    gap: 12px;
    color: #6d6868;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.ban3{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ban4{
    width: 30%;
    
    
    gap: 18px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.footername{
    margin: 10px 65px 5px 65px;
    padding: 7px;
    color: #6d6868;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    
}




